<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>天津市河东区第三实验小学聘用通知书</title>
</head>
<body>
    <p>欢迎,<span style="color: #ff6547" th:text="${username}"></span>!</p>
    <p>您已成功被我校聘用为正式教师，请于2022年10月1日前前来报到</p>
    <p>                    <a href="http://www.thymeleaf.org">点击</a>                                     天津市河东区第三实验小学人事处</p>
    <p>                                                         <span style="color: #00ffff" th:utext="${time}"></span></p>
</body>
</html>